* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef4ff;
  font-family: "Noto Sans", sans-serif;
  padding: 20px 16px 64px 16px;
}

/* Header */

header {
  padding: 8px 12px;
  background-color: #fbfdfe;
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 #d9e5f4;
}

.logo-theme-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text {
  width: 179px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100%;
}

.theme-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  cursor: pointer;
}

/* Main - Heading and links */
main {
  margin-top: 40px;
}

.heading-nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 40px;
}

.heading {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #091540;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-item {
  text-decoration: none;
  display: block;
  padding: 8px 20px 10px 20px;
  border: none;
  border-radius: 999px;
  background-color: #fbfdfe;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
  box-shadow: 0 1px 2px rgb(184, 196, 215, 0.4);
}

.nav-item.focus {
  background-color: #c7231a;
  color: #fbfdfe;
}

/* Main cards */
.card-items {
  display: grid;
  place-items: center;
  gap: 12px;
  grid-template-columns: auto;
  margin: 0 auto;
}

.card-item {
  border-radius: 20px;
  padding: 20px;
  background-color: #fbfdfe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  width: 343px;
  height: 200px;
  box-shadow: 0 2px 2px 0 rgb(194, 206, 225, 0.5);
}

.image-details-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 16px;
}

.details-container h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.details-container p {
  margin-top: 8px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #535868;
}

.remove-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-button {
  border: 1px solid #c6c6c6;
  background-color: transparent;
  border-radius: 999px;
  padding: 8px 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  cursor: pointer;
}

/* Toggle button */
.toggle {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.toggle input {
  display: none;
}

/* track */
.toggle-track {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: #c6c6c6;
  border-radius: 28px;

  transition: background-color 0.08s ease;
}

.toggle-track::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 2px;
  background-color: #fbfdfe;
  border-radius: 50%;
  transition: transform 0.08s ease;
  box-shadow: 0 1px 3px #0a0d12;
}

/* Checked toggle states */
.toggle input:checked + .toggle-track {
  background-color: #c7231a;
}

.toggle input:checked + .toggle-track::before {
  transform: translateX(16px);
}

/* Media Queries */
@media (min-width: 768px) {
  body {
    padding: 24px 32px 64px 32px;
  }

  /* Main - Heading and links */
  .heading-nav-container {
    flex-direction: row;
    align-items: center;
  }

  .card-items {
    grid-template-columns: repeat(2, 1fr);
    max-width: 705px;
  }

  .card-item {
    width: 346px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 40px 135px 64px 135px;
  }

  /* Main - Heading and links */
  .card-items {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1170px;
  }

  .card-item {
    width: 382px;
  }
}
